<!--start footer-->
<div id="footer">
	<div class="container">
		<div class="footer-top">

			<div class="row">
				<div class="col-sm-4 mb30">
					<h3>Contacto</h3>
					<p>
						<a href="mailto:contacto@chilebit.net"> contacto@chilebit.net</a>
					</p>
					<p>
						Providencia, Santiago.
					</p>
				</div>

				<div class="col-sm-4 mb20">
					<h3>Nuestro Partner</h3>
					<ul class="navfooter">
						<li>
							<a href="http://www.blinktrade.com/" target="_blank"><img src="img/common/logo-blinktrade.png" alt=""/></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>

				<div class="col-sm-4 mb30">
					<h3>Síganos</h3>
					<ul class="navfooter">
						<li>
							<a href="https://www.facebook.com/chilebit.net" target="_blank"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/chilebitnet" target="_blank" ><i class="fa fa-twitter"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">

			<div class="row">
				<div class="col-sm-11">
					<p align="center">
						©
						<script type="text/javascript">
							var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
							var f = new Date();
							document.write(f.getFullYear());
						</script>
						ChileBit.  Todos los derechos reservados.
					</p>
				</div>
				<div class="col-sm-1">
					<div id="back-top">
						<a href="#top"><span><i class="fa fa-angle-up"></i></span></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Start of chilebit Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="chilebit.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/</script>
<!-- End of chilebit Zendesk Widget script -->

<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110980796-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110980796-1');
</script>

