<!--start footer-->
<div id="footer">
	<div class="container">
		<div class="footer-top">

			<div class="row">
				<div class="col-sm-4 mb30">
					<h3>Contacto</h3>
					<p>
						<a href="mailto:contacto@chilebit.net"> contacto@chilebit.net</a>
					</p>
					<p>
						Providencia, Santiago.
					</p>
				</div>

				<div class="col-sm-4 mb20">
					<h3>Nuestro Partner</h3>
					<ul class="navfooter">
						<li>
							<a href="http://www.blinktrade.com/" target="_blank"><img src="img/common/logo-blinktrade.png" alt=""/></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>

				<div class="col-sm-4 mb30">
					<h3>Síganos</h3>
					<ul class="navfooter">
						<li>
							<a href="https://www.facebook.com/chilebit.net" target="_blank"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/chilebitnet" target="_blank" ><i class="fa fa-twitter"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">

			<div class="row">
				<div class="col-sm-11">
					<p align="center">
						©
						<script type="text/javascript">
							var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
							var f = new Date();
							document.write(f.getFullYear());
						</script>
						ChileBit.  Todos los derechos reservados.
					</p>
				</div>
				<div class="col-sm-1">
					<div id="back-top">
						<a href="#top"><span><i class="fa fa-angle-up"></i></span></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5a2fce3a5d3202175d9b7c40/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110980796-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110980796-1');
</script>

