<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.skewSlider.js"></script>
<script src="js/main.js"></script>

<!--start footer-->
<div id="footer">
	<div class="container">
		<div class="footer-top">

			<div class="row">
				<div class="col-sm-4 mb30">
					<h3>Contacto</h3>
					<p>
						Av. Suecia 0119, Providencia, Santiago.
					</p>
				</div>

				<div class="col-sm-4 mb20">
					<h3>Nuestros Partners</h3>
					<ul class="navfooter">
						<li>
							<a href="http://www.paytechsolutions.net" target="_blank"><img src="img/common/logo-paytech.png" alt=""/></a>
						</li>
						<li>
							<a href="http://www.blinktrade.com/" target="_blank"><img src="img/common/logo-blinktrade.png" alt=""/></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>

				<div class="col-sm-4 mb30">
					<h3>Síganos</h3>
					<ul class="navfooter">
						<li>
							<a href="https://www.facebook.com/chilebit.net" target="_blank"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/chilebitnet" target="_blank" ><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="https://plus.google.com/u/0/109989407057429205844/about" target="_blank" ><i class="fa fa-google-plus"></i></a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCmG70lY6nQjtmyDcH8nETaQ" target="_blank" ><i class="fa fa-youtube-play"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">

			<div class="row">
				<div class="col-sm-11">
					<p>
						©
						<script type="text/javascript">
							var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
							var f = new Date();
							document.write(f.getFullYear());
						</script>
						ChileBit.  Todos los derechos reservados.
					</p>
				</div>
				<div class="col-sm-1">
					<div id="back-top">
						<a href="#top"><span><i class="fa fa-angle-up"></i></span></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
	window.$zopim || (function(d, s) {
		var z = $zopim = function(c) {
			z._.push(c)
		}, $ = z.s = d.createElement(s), e = d.getElementsByTagName(s)[0];
		z.set = function(o) {
			z.set._.push(o)
		};
		z._ = [];
		z.set._ = [];
		$.async = !0;
		$.setAttribute('charset', 'utf-8');
		$.src = '//v2.zopim.com/?2aIJdGCoaI6qy2YO4oK2zPAM8h1NoILb';
		z.t = +new Date;
		$.type = 'text/javascript';
		e.parentNode.insertBefore($, e)
	})(document, 'script');
</script>
<!--End of Zopim Live Chat Script-->

<!-- Google Analytics -->
<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] ||
		function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-56949227-1', 'auto');
	ga('send', 'pageview');

</script>
