<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="ChileBit te entrega seguridad, rapidez y transparencia en todas tus operaciones de compra y venta de Bitcoins." />
<meta name="Keywords" content="ChileBit, Bitcoins Chile, FIAT, Criptodivisa, Dinero Electrónico, Pagos Electrónicos, compra-venta de Bitcoins, BTC Chile, Intercambios de Bitcoins, Mercado Virtual Bitcoins, Moneda digital, Moneda Electrónica, Exchange de Bitcoins, Efectivo Digital." />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="img/common/favicon.ico"/>
<link rel="apple-touch-icon" href="img/common/apple-touch-icon.png" />
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-theme.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/main-responsive.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/skw-core.css">
<link rel="stylesheet" href="css/skw-dark.css">
<link rel="stylesheet" href="css/image-gallery.css">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.skewSlider.js"></script>
<script src="js/main.js"></script>