<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="wrap">

	<!--bar colors-->
	<div class="colors">
		<div class="bg-yellow bar-colors wy"></div>
		<div class="bg-red bar-colors wr"></div>
		<div class="bg-green bar-colors wg"></div>
		<div class="bg-blue bar-colors wb"></div>
	</div>

	<div class="menu-top">
		<div class="container">
			<ul id="navtop">
				<li>
					<a href="https://chilebit.net/exchange/#signup" target="_blank">Registrarse</a>
				</li>
				<li>
					<a href="https://chilebit.net/exchange/"  target="_blank" >Login</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="header">
		<div class="container">

			<div class="row">
				<div class="col-sm-6">
					<a href="index.html"><img src="img/common/logo-chilebit.png" style="width:239px;" class="navbar-brand" alt="ChileBit.Net"/></a>
				</div>
				<div class="col-sm-6">
					<ul id="navrs">
						<li>
							<a href="https://www.youtube.com/channel/UCmG70lY6nQjtmyDcH8nETaQ" target="_blank" ><i class="fa fa-youtube-play"></i></a>
						</li>
						<li>
							<a href="https://plus.google.com/u/0/109989407057429205844/about" target="_blank" ><i class="fa fa-google-plus"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/chilebitnet" target="_blank" ><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="https://www.facebook.com/chilebit.net" target="_blank"><i class="fa fa-facebook"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-gray-dark">
		<div class="container">

			<!--menu-->
			<nav id="myNavbar" class="navbar navbar-default" role="navigation">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="index.html"  id="inicio"><i class="fa fa-home"></i></a>
						</li>
						<li>
							<a href="quienes-somos.html"  id="quienes-somos">Quiénes Somos</a>
						</li>
						<li>
							<a href="como-funciona.html" id="como-funciona">Cómo Funciona</a>
						</li>
						<li>
							<a href="comisiones.html" id="comisiones">Comisiones</a>
						</li>
						<li>
							<a href="faq.html" id="faq">F.A.Q.</a>
						</li>
						<li>
							<a href="contacto.html" id="contacto">Contacto</a>
						</li>
					</ul>
				</div>

			</nav>
			<!--end menu-->
		</div>

	</div>